* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #wrapper {
  height: 100vh;
}

ol, ul, li {
  list-style: none;
}

/* Boostrap customised css */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

body {
  background-color: rgb(20, 20, 20);
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* Button pill*/
button {
  background-color: rgb(27, 177, 164);
  border: none;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  width: 8rem;
  height: 2rem;
}

.button:hover {
  background-color: #ebebeb;
}

/* 1st div*/
.cover-container {
  max-width: 42em;
}

/* Footer */
.footer {
  color: rgba(255, 255, 255, .5);
  font-weight: 200;
}

/* Responsive UI for mobile */
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
}
